.menuBtn {
  font-size: $font-size-h2;
  background-color: #104735;
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  border: 0.1rem solid;
  border-radius: 1rem;
  margin: 1rem 0;
  position: relative;
  color: #2ac992;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  height: 5rem;
  outline: none;

  &:hover {
    background-color: rgb(28,107,114);
  }
  &:after {
    content: "";
    background: #2ac992;
    position: absolute;
    width: 15rem;
    height: 10rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.75s ease-in-out;
    //outline: none;
  }

  &:active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s;
    //outline: none;

  }
}