.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 40rem;
  font-size: $font-size-h2;
 >* {
  flex-basis: calc(25% - 2.2rem);
   border: 1px solid;
   text-align: center;
   padding: 1rem;
}
}
.hidden {
  overflow: hidden;
}