.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-digital;
  text-align: center;
  width: 40rem;
  height: 40rem;
  background: rgb(194,195,34);
  background: linear-gradient(0deg, rgba(194,195,34,1) 0%, rgba(130,98,194,1) 1%, rgba(34,193,195,1) 50%, rgba(54,47,193,1) 100%, rgba(253,187,45,1) 100%);
  .item {

   border: 1px solid;
    border-radius: 10%;
    text-align: center;

    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: #2ac992;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    user-select: none;
    @include media-tablet {
      flex-basis: calc(25% - 5.3rem);
    }
  }
}
.times, .steps {
  font-weight: bold;
}
.size3 {
  .item {
    padding: 2.5rem;
    flex-basis: calc(33% - 5.2rem);
  }
}
.size4 {
   .item {
    padding: 2.5rem;
    flex-basis: calc(25% - 5.2rem);
  }
}
.size5 {
  .item {
    width: 19.5%;
    height: 19.5%;
  }
}
.size6 {
  width: 43rem;
  height: 43rem;
  .item {
    width: 16.2%;
    height: 16.2%;
  }
}

.size7 {
  width: 43rem;
  height: 43rem;
  .item {
    width: 13.8%;
    height: 13.8%;
  }
}
.size8 {
  width: 43rem;
  height: 43rem;
  .item {
    width: 12%;
    height: 12%;
  }
}

.slide-left {
  animation: slide-left 0.5s cubic-bezier(.10, .10, .79, .27) both;
}
.slide-right {
  animation: slide-right 0.5s cubic-bezier(.10, .10, .79, .27) both;
}
.slide-top {
  animation: slide-top 0.5s cubic-bezier(.10, .10, .79, .27) both;
}
.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(.10, .10, .79, .27)  both;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
