.menu {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  >* {
    font-size: $font-size-h2;
  }
}
.hide {
  visibility: hidden;
}